.blog {
    padding: 130px 0 0;
    
    h1 {
        text-align: center;
        margin: 50px 0;
    }

    .blog__content {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .blog__left {
        flex-basis: 55%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .blog__right {
        flex-basis: 40%;
    }

    .blog__article {
        position: relative;
        background: url('../images/blog_figure_right.png') right 40px no-repeat;
        background-size: 37%;
        padding-top: 110px;
        //padding-top: 17%;

        h2 {
            position: absolute;
            top: 0;
        }

        figure {
            max-width: 90%;

            img {
                display: block;
                max-width: 100%;
                height: auto;
            }
        }

        &--big {
            background: url('../images/blog_figure_big.png') right 40px no-repeat;
            background-size: 21%;
        }
        
        &--right {
            background: url('../images/blog_figure_left.png') left 40px no-repeat;
            background-size: 37%;

            h2 {
                right: 0;
            }

            figure {
                margin-left: 10%;
            }

        }

    }

    h2 {
        white-space: pre-line;
    }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
    .blog {

        h1 {
            font-size: 32px;
            line-height: 36px;
        }

        h2 {
            font-size: 24px;
            line-height: 30px;
        }
    }
}