.category {
    padding: 130px 0 0;

    .category__wrap {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .category__left {
        flex-basis: 40%;

        h1 {
            padding-bottom: 45px;
        }

        h2 {
            display: none;
        }

    }

    .category__right {
        flex-basis: 57%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 90px;

        h1 {
            padding-bottom: 25px;
        }

        .category__right-line {
            //padding: 85px 0 65px;

            figure {
                max-width: 50%;
                margin: 0 auto;
            }
        }
    }

    figure {
        max-width: 100%;
        position: relative;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
    .category {

        h1 {
            font-size: 32px;
            line-height: 36px;
        }

        h2 {
            font-size: 24px;
            line-height: 30px;
        }
    }
}

@media screen and (max-width: 768px) {

    .category {
        padding-top: 80px;

        .category__left {

            h1 {
                padding-bottom: 25px;
            }
        }

        .category__right {
            padding-top: 40px;
        }

    }
}

@media screen and (max-width: 480px) {
    .category {
        padding-top: 45px;

        .category__wrap {
            flex-direction: column;
            padding: 0;
        }

        .category__left {
            flex-basis: auto;

            h2 {
                display: block;
                padding-bottom: 20px;
                white-space: pre-line;
            }
        }

        .category__right {
            flex-basis: auto;
        }

        .category__right-line {
            display: none;
        }

        .category__right-top {

            img {
                object-position: 25%;
                padding-bottom: 40px;
            }
        }

        figure {

            img {
                min-height: 150px;
                object-fit: cover;
            }
        }
    }
}
