.second-banner {
    padding: 80px 0 10px;

    h1 {
        text-align: center;
        display: none;
    }

    .second-banner__figure {
        max-width: 100%;
        background: url('../images/banner2_figure.png') top left no-repeat;
        background-size: 60%;
    }

    .second-banner__banner {
        width: 100%;
        box-sizing: border-box;
        padding-left: 6%;
        padding-top: 4.5%;

        img {
            //display: block;
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

}

@media screen and (max-width: 480px) {
    .second-banner {
        padding-top: 30px;

        .second-banner__wrap {
            padding: 0;
        }

        h1 {
            display: block;
            padding-bottom: 10px;
        }

        .second-banner__figure {
            background: none;
        }

        .second-banner__banner {
            padding: 0;

            img {
                min-height: 127px;
                object-position: right;
            }
        }
    }
}